/* пишем стили */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #fff;
	width: auto;
	height: 100%;
}

h1, h2, .copy {
	font-family: "RedRingLight", sans-serif;
	font-weight: 100;
}
button {
	font-family: "ProximaNovaLight", sans-serif;
	font-weight: 400;
}

input, textarea, button {
	outline: none;
}
.clear{
	clear: both;
}
/* end reset */

/*  Хедер */
header {
	position: relative;
	padding-top: 15px;
	height: 100px;
	z-index: 1;
}
.logo {
	text-align: center;

}
/*  End Хедер */
.banner {
	position: relative;
	height: 650px;
	background: linear-gradient(to top, #f34949, #ffd96a);
	z-index: 0;
}
/*  Banner background */
.banner_text h1 {
	font-size: 40px;
}
.banner_text,.banner_img {
	margin: 0 auto;
	text-align: center;

}
.banner_text span{
	font-family: "RedRingBlack",sans-serif;
	color: #fff
}
.banner_img img{
	padding: 180px;
}
.banner_text{
		padding-top: 100px;
}
/*  Banner padding */
.defintion{
	padding: 100px 0;
}
.definition_item{
	display: inline-block;
	float: left;
	width: 33.33%;
	padding: 0 30px;
	text-align: justify;
}
.definition_item h3{
	font-family: "ProximaNovaThin", sans-serif;
	    font-size: 24px;
	    font-weight: 300;
	    text-transform: uppercase;
			text-align: center;
}
.definition_item p{
	width: 75%;
	margin: 0 auto;
	font-family: "ProximaNovaLight", sans-serif;
	font-weight: 400;
	text-align: justify;
}
.definition_item img {
	
}
.form {
	background-color: #f8f6f9;
	padding: 100px 0;
	text-align: center;
}
.form form {
  display: inline-block;
  width: 60%;
}
input,textarea{
	width: 100%;
	font-size: 18px;
	border: 2px solid #f34949;
	border-radius: 15px;
	text-align: center;
	margin-bottom: 50px;
	padding: 10px;
}
.form h2 {
	margin-bottom: 50px;
	font-size: 24px;
}
textarea {
	resize: none;
	height: 200px;
}
.btn {
display: inline-block;
height: 45px;
font-size: 18px;
text-transform: uppercase;
border-radius: 10px;
padding: 10px 10%;
border: none;
text-align: center;
background-color: #f34949;
background-image: linear-gradient(to right, #f34949 0%, #fbd341 40%, #f34949 100%);
background-size: 200% auto;

}
.btn:hover {
	background-color: #fbd341;
	transition: 1.5s;
	background-position: right center;
}
footer {
	height: 92px;
	text-align: center;
	background-color: #fbd341;
	text-transform: uppercase;
}
footer span{
	display: inline-block;
	margin: 30px 0;
}
